//環境別文字サイズ
$font-big: 42px;
$font-sp-big: 42px;
$font-title: 32px;
$font-sp-title: 24px;
$font-section-title: 20px;
$font-sp-section-title: 20px;
$font-middle: 24px;
$font-small: 12px;
$font-sp-middle: 16px;
$font-text: 16px;
$font-sp-small: 10px;
$font-sp-text: 14px;

//色
$default-button-color: #242424;
$default-background-color: #242424;
$black: #222;
$light-black:#1f1f1f;
$dark: #373a47;
$gray-button:#b7b5b5;
$gray-button-hover: #dbd9d9;
$right-gray: #b3b3b3;
$form-bg: #f3f3f3;
$white: #fff;
$button: #3f92db;
$button-hover: #7da6c4;
$error: #fd4242;
$error-hover: #F55252;
$warning: #EAAC22;
$sian: #6bb6ff;
$light-sian: #c8e4ff;
$very-light-sian: #c7ebfa;
$dark-blue: #005b99;
$dark-red: #cf1a1a;


//Breakpoints
$breakpoints: (
  sp: 'screen and (max-width: 960px)',
  pc: 'screen and (min-width: 961px)'
);

//mixin
@mixin mq($bp) {
  @media #{map-get($breakpoints,$bp)} {
    @content
  }
}

@mixin sectionCommon() {
  @extend .mt-8;
  @extend .wrap;
  font-family: 'Noto Serif JP', serif;
  h2 {
    font-size: $font-title;
    @include mq("sp") {
      font-size: $font-sp-title;
    }
  }
  p {
    font-size: $font-middle;
    @include mq("sp") {
      font-size: $font-sp-middle;
    }
  }
}

@mixin headerTopMargin() {
  margin-top: 91px;
}

// 基本設定
* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}


.dispSp {
  @include mq("pc") {
    display: none;
  }
}

.dispPc {
  @include mq("sp") {
    display: none;
  }
}

.button {
  background: $button;
  color: $white;
  @extend .py-1, .w-100;
  min-width: 180px;
  max-width: 250px;
  border-radius: 4px;
  border-color: $button;
  font-size: $font-text;
  @include mq("sp") {
    margin-bottom: 2rem;
    font-size: $font-sp-text;
  }

  &:hover {
    cursor: pointer;
    background: $button-hover;
    transition: 0.3s;
    opacity: 0.8;
    border-color: $button-hover;
  }
}

#root {
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative; /* ←相対位置 */
  padding-bottom: 440px;
  @include mq("sp") {
    padding-bottom: 650px;
  }
  box-sizing: border-box;
}


// 横幅設定
@for $i from 0 through 100 {
  .w-#{$i} {
    width: 0% + $i;
  }
  .w-px-#{$i} {
    width: 0px + $i;
  }
  .h-px-#{$i} {
    height: 0px + $i;
  }
  .mt-#{$i} {
    margin-top: 0em + $i;
  }
  .mr-#{$i} {
    margin-right: 0em + $i;
  }
  .mr-px-#{$i} {
    margin-right: 0px + $i;
  }
  .mb-#{$i} {
    margin-bottom: 0em + $i;
  }
  .ml-#{$i} {
    margin-left: 0em + $i;
  }
  .ml-px-#{$i} {
    margin-left: 0px + $i;
  }
  .mx-px-#{$i} {
    margin-left: 0px + $i;
    margin-right: 0px + $i;
  }
  .my-#{$i} {
    margin-top: 0em + $i;
    margin-bottom: 0em + $i;
  }
  .pt-#{$i} {
    padding-top: 0em + $i;
  }
  .pr-#{$i} {
    padding-right: 0em + $i;
  }
  .pb-#{$i} {
    padding-bottom: 0em + $i;
  }
  .pl-#{$i} {
    padding-left: 0em + $i;
  }
  .px-#{$i} {
    padding-left: 0em + $i;
    padding-right: 0em + $i;
  }
  .py-#{$i} {
    padding-top: 0em + $i;
    padding-bottom: 0em + $i;
  }
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.wrap {
  width: 90%;
  @include mq("sp") {
    max-width: 640px;
  }
  max-width: 1180px;
  @extend .mx-auto;
}


.form-wrap {
  width: 90%;
  @include mq("sp") {
    width: 100%;
    max-width: 640px;
  }
  max-width: 970px;
  @extend .mx-auto;
}

.section-title-area {
  text-align: center;
  @extend .mb-3;
}

.d-flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.text-center {
  align-items: center;
}

.end {
  justify-content: flex-end;
}

// header設定
#header {
  position: fixed;
  top: 0;
  z-index: 99999999999;
  background: rgba(255, 255, 255, 0.7);

  .sp-header {
    @extend .d-flex;
    @extend .text-center;
    width: calc(100% - 75px);
    margin-left: 60px;

    .icons {
      margin-left: auto;

      i {
        &:first-child {
          @extend .mr-1;
        }
      }
    }
  }

  .logo {
    @include mq("sp") {
      width: 50px;
    }
  }

  @extend .w-100;

  a {
    text-decoration: none;
    color: $default-background-color;
  }

  h1 {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999999;

    img {
      width: 78px;
      @include mq("sp") {
        width: 60px;
      }
      @extend .mx-auto
    }

    span {
      font-size: 16px;
      font-family: 'Dela Gothic One', cursive;
      font-weight: 400;
      @include mq("pc") {
        margin-left: 1em;
      }
      @include mq("sp") {
        margin-left: 0.5em;
      }
    }
  }

  .wrapper {
    width: 90%;
    max-width: 1580px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    display: flex;

    li {
      line-height: 200%;
      font-family: 'M PLUS 1p', sans-serif;
      font-weight: 300;

      &:first-child {
        margin-right: auto;
      }

      &:not(:first-child) {
        margin-right: 2em;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        color: $black;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          opacity: 0.7;
          transition: 0.2s;
        }
      }
    }
  }

  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 10px;
    top: 22px;
  }

  .bm-burger-bars {
    background: $dark;

    span {
      background: $dark-red;
    }
  }

  .bm-burger-bars-hover {
    background: $dark-blue;
  }

  .bm-cross-button {
    width: 36px !important;
    height: 30px !important;
    left: 8px !important;
    top: 14px !important;
  }

  .bm-cross {
    background: $default-button-color;
    height: 32px !important;
  }

  .bm-menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    @extend .w-80;
    height: 100%;
  }

  .bm-menu {
    background: $white;
    @extend .pt-2;
    font-size: 1.15em;
  }

  .bm-morph-shape {
    fill: $dark;
  }

  .bm-item-list {
    color: $right-gray;
    padding: 0.8em;
    @extend .mt-2;
  }

  .bm-item {
    display: inline-block;
    text-decoration: none;
    outline: none;
  }

  .bm-overlay {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .menu-item {
    line-height: 200%;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 300;
    @extend .ml-2;
    @extend .mb-1;
    font-size: $font-middle;
    @include mq("sp") {
      font-size: $font-sp-middle;
    }
  }
}

#slider-wrap {
  @include headerTopMargin();

  .swiper-button-prev {
    &:after {
      color: $white;
      z-index: 999999;
      content: "\f104";
      transform: scale(0.5);
      font-family: FontAwesome;
    }
  }

  .swiper-button-next {
    &:after {
      color: $white;
      z-index: 999999;
      content: "\f105";
      transform: scale(0.5);
      font-family: FontAwesome;
    }
  }

  .slider-height {
    height: calc(100vh - 150px - 1em);
    max-height: 800px;
  }

  @extend .w-95;
  @extend .my-0;
  @extend .mx-auto;
  position: relative;

  img {
    width: 90%;
    @extend .mx-auto;
    display: block;
    height: calc(100vh - 150px - 2em);
    max-height: 800px;
  }

  .mask {
    width: 90%;
    position: absolute;
    background: $black;
    height: calc(100vh - 150px - 2em);
    opacity: 0.2;
    top: 0;
    left: 5%;
    z-index: 999;
    max-height: 800px;
  }

  .title-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
    z-index: 9999;

    h2 {
      font-size: $font-big;
      font-family: 'Bebas Neue', cursive;
      @include mq("sp") {
        font-size: $font-sp-big;
        line-height: 100%;
        margin-bottom: 0.2em;
      }
    }

    h3 {
      font-family: 'Noto Serif JP', serif;
      font-weight: 600;
      letter-spacing: 10px;
      @include mq("sp") {
        font-size: $font-sp-middle;
        line-height: 100%;
      }
    }
  }
}

#pre-section {
  @extend .d-flex;
  @extend .mx-auto;
  width: 100px;
  @include mq("sp") {
    width: 50px;
  }
  align-items: start;

  p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 4px;
    font-size: $font-text;

    span {
      font-size: $font-title;
      font-family: 'Noto Serif JP', serif;
    }
  }

  .center-line {
    width: 1px;
    height: 30vh;
    @include mq("sp") {
      height: 35vh;
    }
    background: $default-button-color;
  }
}

#section1 {
  @include sectionCommon();

  .about-area {
    @extend .d-flex;
    @extend .between;
    @include mq("sp") {
      flex-direction: column;
    }

    dl {
      width: calc(100% / 3 - 30px);
      @include mq("sp") {
        width: 100%;
        margin-bottom: 4em; //@extend .mb-2;
      }

      dt {
        font-family: 'Noto Serif JP', serif;
        font-weight: 600;
        font-size: $font-sp-section-title;
        @extend .mb-1;
        white-space: nowrap;
        @include mq("sp") {
          &:first-child {
            margin-bottom: 0; // @extend .mb-0;
          }
          margin-bottom: 1em; // @extend .mb-1;
        }
      }

      dd {
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 300;
        line-height: 200%;
        font-size: $font-text;
        @include mq("sp") {
          font-size: $font-sp-text;
        }
      }
    }
  }
}

#result-area {
  background: $very-light-sian;
  width: 100%;
  @extend .mt-10;
  @extend .py-5;

  #result-message {
    text-align: center;
    @extend .wrap;

    img {
      display: block;
      @extend .mx-auto;
      @extend .w-50;
      @include mq("sp") {
        width: 80%;
      }
    }

    h3 {
      font-family: 'Noto Serif JP', serif;
      font-weight: 600;
      font-size: $font-title;
      @include mq("sp") {
        font-size: $font-sp-title;
        line-height: 150%;
      }
    }

    p {
      font-family: 'M PLUS 1p', sans-serif;
      font-weight: 300;
      line-height: 200%;
      font-size: $font-text;
      @include mq("sp") {
        font-size: $font-sp-text;
      }
    }
  }
}

#section2 {
  @include sectionCommon();

  .event-area {
    @extend .d-flex;
    @extend .between;
    flex-wrap: wrap;

    dt {
      font-family: 'Noto Serif JP', serif;
      font-weight: 600;
      font-size: $font-section-title;
      @include mq("sp") {
        font-size: $font-sp-middle;
        line-height: 150%;
      }
    }

    dd {
      font-size: $font-text;
      font-family: 'M PLUS 1p', sans-serif;
      font-weight: 300;
      line-height: 200%;

      i {
        width: 15px;
        text-align: center;
        margin-right: 0.5em;
      }

      @include mq("sp") {
        font-size: 12px; //sp-text
      }
    }

    li {
      width: calc(100% / 4 - 30px);
      @include mq("sp") {
        width: calc(100% / 2 - 30px);
        &:nth-child(n+3) {
          margin-top: 3em;
        }
      }
      @include mq("pc") {
        &:nth-child(n+5) {
          margin-top: 3em;
        }
      }
    }
  }

  button {
    @extend .mx-auto;
    @extend .mt-3;
    @extend .px-2;
    @extend .py-1;
    display: block;
    background: $default-button-color;
    border: 1px solid $default-button-color;
    border-radius: 2px;
    color: $white;
  }
}

#section3 {
  @include sectionCommon();

  .service-area {
    @extend .d-flex;
    @extend .between;
    @include mq("sp") {
      flex-direction: column;
    }
  }

  dl {
    width: calc(100% / 3 - 30px);
    @include mq("sp") {
      width: 100%;
      flex-direction: column;
      margin-bottom: 4em;
    }

    dd {
      &:nth-of-type(1) {
        font-size: $font-sp-section-title;
        font-weight: bold;
        white-space: nowrap;
        @extend .mb-1;
        @include mq("sp") {
          margin-bottom: 1em; //mb-1
        }
      }

      &:nth-of-type(2) {
        font-family: 'M PLUS 1p', sans-serif;
        font-weight: 300;
        line-height: 200%;
        font-size: $font-sp-text;
      }
    }
  }
}

#section4 {
  @extend .mt-8;
  @extend .pb-10;
  @extend .pt-3;
  color: $white;
  font-family: 'Noto Serif JP', serif;

  .swiper-button-prev {
    &:after {
      color: $white;
      z-index: 999999;
      content: "\f104";
      transform: scale(0.5);
      font-family: FontAwesome;
    }
  }

  .swiper-button-next {
    &:after {
      color: $white;
      z-index: 999999;
      content: "\f105";
      transform: scale(0.5);
      font-family: FontAwesome;
    }
  }

  h2 {
    font-size: $font-title;
    @include mq("sp") {
      font-size: $font-sp-title;
    }
  }

  p {
    font-size: $font-middle;
    @include mq("sp") {
      font-size: $font-sp-middle;
    }
  }

  background: $default-button-color;
  width: 100%;

  iframe {
    width: 100%;
    height: 450px;
  }

  .wrapper {
    width: 90%;
    max-width: 1580px;
    @extend .mx-auto;
  }

  dl {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 300;
    line-height: 200%;
  }
}

#section5 {
  @include sectionCommon();

  dl {
    @include mq("pc") {
      width: calc(100% / 3 - 30px);
    }
  }

  ul {
    line-height: 200%;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 300;

    li {
      border-bottom: 1px solid $black;
      @include mq("pc") {
        margin-bottom: 3em; //@extend .mb-3;
        padding-bottom: 1em; //@extend .pb-1;
        display: flex; //@extend .d-flex;
        span {
          width: 80px;
          margin-left: 2em; //@extend .ml-2;
          margin-right: 2em; //@extend .mr-2;
        }
      }
      @include mq("sp") {
        margin-bottom: 2em; //@extend .mb-3
        padding-bottom: 0.5em; //@extend .pb-1;
      }
    }

    //sp限定
    .news-header {
      display: block;
      font-size: $font-sp-small;
      margin-bottom: 0.5em;
      font-weight: 600;
    }

    .news-text {
      font-size: $font-sp-text;
      line-height: 150%;
    }
  }

}

footer {
  position: absolute; /* ←絶対位置 */
  bottom: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 300;
  line-height: 200%;
  @extend .py-5, .w-100;
  background: $default-button-color;
  color: $white;

  a {
    color: $white;
  }

  align-items: start;

  .footer-list {
    @extend .d-flex;
    text-align: center;
    @include mq("sp") {
      flex-direction: column;
      text-align: left;
    }

    ul {
      @extend .w-50;
      @include mq("sp") {
        width: 100%;
        &:nth-of-type(2) {
          margin-top: 3em;
        }
      }
      display: inline-block;

      li {
        &:first-child {
          font-weight: 600;
        }

        margin-bottom: 0.5em;
        margin-left: 35%;
        text-align: left;
        @include mq("sp") {
          margin-left: 2em;
        }
      }
    }
  }

  .copyright {
    @extend .d-flex;
    align-items: center;
    width: 270px;
    @extend .mx-auto;
    @extend .mt-3;

    p {
      span {
        margin-left: 0.5em;
        font-family: 'Dela Gothic One', cursive;
      }

      img {
        @extend .ml-1;
        width: 20px;
        fill: $white;
      }
    }
  }
}


//新規会員登録フォーム

#add-user-area {
  @include headerTopMargin();
  background: $form-bg;
  @extend .py-3;

  .d-block {
    display: block;
  }

  h1 {
    text-align: center;
    font-size: $font-middle;
    color: $white;
    @extend .w-100, .mb-3;
    padding: 10px 0;
    background: $button;
  }

  .d-flex {
    display: flex;
    @include mq("sp") {
      flex-direction: column;
    }
  }

  .form_th {
    background: $gray-button-hover;
    font-weight: 600;
    font-size: $font-text;
    width: 230px;
    @extend .py-2, .px-1;
    @include mq("sp") {
      font-size: $font-sp-text;
      width: calc(100% - 2em);
      padding: 2em 0 2em 2em;
    }
    border-bottom: 1px solid $white;
  }

  .form_td {
    @extend .py-2, .px-1;
    background: $white;
    width: 670px;
    @include mq("sp") {
      width: calc(100% - 2em);
      padding: 2em 0 2em 2em;
    }
    border-bottom: 1px solid $gray-button-hover;
  }

  .input {
    height: 32px;
    line-height: 32px;
    max-width: 100%;
    border: 1px solid $gray-button-hover;
    border-radius: 4px;
    padding-left: 5px;
  }

  select {
    height: 32px;
    line-height: 32px;
    max-width: 100%;
    border: 1px solid $gray-button-hover;
    border-radius: 4px;
    padding-left: 5px;
  }

  .add-button {
    @extend .button;

  }

  .back-button {
    @extend .button;
    background: $gray-button;
    border-color: $gray-button;

    &:hover {
      background: $gray-button-hover;
      border-color: $gray-button-hover;
    }
  }

  .g-1 {
    width: calc(100% / 1) - 10%;
  }

  .g-2 {
    width: calc(100% / 2) - 10%;
    @include mq("sp") {
      width: calc(100% / 2) - 15%;
    }
  }

  .g-3 {
    width: calc(100% / 3) - 10%;
  }

  .g-4 {
    width: calc(100% / 4) - 10%;
  }

  .d-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .required {
    display: block;
    width: 24px;
    background: $error;
    border-radius: 4px;
    color: $white;
    font-size: $font-small;
    @include mq("sp") {
      font-size: $font-sp-small;
    }
    padding: 2px 5px;
  }

  .text-small {
    font-size: $font-small;
    @include mq("sp") {
      font-size: $font-sp-small;
    }
  }

  .error {
    color: $error;
    font-size: $font-small;
    @include mq("sp") {
      font-size: $font-sp-small;
    }
    @extend .pt-1;
  }
}

// ログイン

#login {
  @include headerTopMargin();
  margin-top: 8rem;

  .d-block {
    display: block;
  }

  .d-flex {
    display: flex;
    @include mq("sp") {
      flex-direction: column;
    }
  }

  .center {
    text-align: center;
    font-size: $font-text;
    @include mq("sp") {
      font-size: $font-sp-text;
    }
    line-height: 200%;
  }

  h2 {
    font-weight: normal;
    font-size: $font-text;
    @include mq("sp") {
      font-size: $font-sp-text;
    }
  }

  .add-button {
    @extend .button;
  }

  .logout-button {
    @extend .button;
    background: $gray-button;
    border-color: $gray-button;

    &:hover {
      background: $gray-button-hover;
      border-color: $gray-button-hover;
    }
  }

  .between {
    justify-content: space-between;
  }

  .d-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .button-area {
    max-width: 600px;
    @include mq("sp") {
      max-width: 250px;
      margin-bottom: 5rem;
    }
  }

  .alert-text {
    color: $error;
    font-weight: bold;
    font-size: $font-text;
    @include mq("sp") {
      font-size: $font-sp-text;
    }
    @extend .px-1;
  }
}

//会員登録完了ページ
#add-user-area {
  @include headerTopMargin();
  margin-top: 6rem;
  //height: calc(100vh - 440px - 91px);
  @include mq("pc") {
    height: calc(100vh - 440px - 91px);
  }

  .d-block {
    display: block;
  }

  .d-flex {
    display: flex;
    @include mq("sp") {
      flex-direction: column;
    }
  }

  .center {
    text-align: center;
    font-size: $font-text;
    @include mq("sp") {
      font-size: $font-sp-text;
    }
    line-height: 200%;
  }

  h2 {
    font-weight: normal;
    font-size: $font-text;
    @include mq("sp") {
      font-size: $font-sp-text;
    }
  }

  .mypage-button {
    @extend .button;
  }

  .top-button {
    @extend .button;
    background: $error !important;
    border-color: $error;

    &:hover {
      background: $error-hover;
      border-color: $error-hover;
    }
  }

  .between {
    justify-content: space-between;
  }

  .d-flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .button-area {
    max-width: 600px;
    @include mq("sp") {
      max-width: 250px;
      margin-bottom: 5rem;
    }
  }
}

#mypage {
  .modal-wrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px 10px;
    text-align: center;

    .modal-button {
      color: $button;
      background-color: $button;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s;
      display: block;
      margin-top: 40px;
      margin-bottom: 1px;
      padding: 12px 2px;
      max-width: 300px;
      text-decoration: none;

      &:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
      }

      &:after {
        font-family: "Font Awesome 5 Free";
        content: "\f2d0";
        padding-left: 8px;
      }

      &:hover {
        color: $white;
        background-color: $button-hover;
        transition: .6s;
      }
    }

    &:not(:target) {
      opacity: 0;
      visibility: hidden;
      transition: opacity .3s, visibility .3s;
    }

    &:target {
      opacity: 1;
      visibility: visible;
      transition: opacity .4s, visibility .4s;
    }

    &:after {
      display: inline-block;
      height: 100%;
      margin-left: -.05em;
      vertical-align: middle;
      content: ""
    }

    .modal-window {
      box-sizing: border-box;
      display: inline-block;
      z-index: 20;
      position: relative;
      width: 70%;
      max-width: 600px;
      padding: 10px 30px 25px;
      border-radius: 2px;
      background: $white;
      box-shadow: 0 0 30px rgba(0, 0, 0, .6);
      vertical-align: middle;

      .modal-content {
        max-height: 80vh;
        overflow-y: auto;
        text-align: left
      }
    }

    .modal_title {
      font-size: $font-middle;
      @include mq("sp") {
        font-size: $font-sp-middle;
      }
      position: relative;
      overflow: hidden;
      padding: 0;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        border-bottom: 4px solid $sian;
        width: 100%;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        border-bottom: 4px solid $light-sian;
        width: 100%;
      }
    }

    .modal-content {
      p {
        margin: 10px 0 0 0;
        padding-bottom: 10px;
      }
    }

    .modal-overlay {
      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, .8)
    }

    .modal-close {
      z-index: 20;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 35px;
      color: $right-gray !important;
      font-size: 30px;
      font-weight: 700;
      line-height: 35px;
      text-align: center;
      text-decoration: none;
      text-indent: 0;

      &:hover {
        color: $dark !important
      }
    }

    .category-line {
      @extend .d-flex;
      align-items: center;
    }

    .category-label {
      font-size: $font-text;
      @include mq("sp") {
        font-size: $font-sp-text;
      }
    }
  }

  .button {
    max-width: 100px;
    text-align: center;
    display: block;
    @extend .mx-auto;
    background: $button !important;
    border: 1px solid $button;
    padding: 5px 0;
    margin-bottom: 2em;
  }

  .button-active {
    @extend .button;
    padding: 5px 0;
    background: $error !important;
    border: 1px solid $error;
    margin-bottom: 2em;
  }

  .change-image {
    display: block;
    @extend .mx-auto, .mb-1;
  }

  line-height: 200%;
  @include headerTopMargin();
  margin-top: 6rem;
  max-width: 640px;

  img {
    max-width: 300px;
    display: block;
    @extend .mx-auto;
  }

  .user-area {
    align-items: baseline;
    justify-content: center;

    h2 {
      font-size: $font-title;
      font-weight: 500;
      margin-right: 4px;
      @include mq("sp") {
        font-size: $font-sp-title;
      }
    }

    input {
      width: 100%;
      padding: 5px;
      max-width: 200px;
      margin-right: 5px;
      border-radius: 4px;
      font-size: $font-title;
      border: 1px solid $right-gray;
      @include mq("sp") {
        font-size: $font-sp-title;
      }
    }

    p {
      color: $right-gray;
      font-size: $font-text;
      font-weight: 500;
      @include mq("sp") {
        font-size: $font-sp-text;
      }
      margin-bottom: 3px;
    }
  }

  #profile {
    .dashed-line {
      border-top: 1px dashed $right-gray;

      textarea {
        width: calc(100% - 2em);
        min-height: 100px;
        border: 1px solid $right-gray;
        border-radius: 4px;
        @extend .mt-2, .py-1, .px-1;
      }

      p {
        font-size: $font-text;
        font-weight: 500;
        @include mq("sp") {
          font-size: $font-sp-text;
        }
      }
    }
  }

  #interest {
    h3 {
      @extend .mb-1;
      font-family: "M PLUS 1p", sans-serif;
      font-weight: 400;
      font-size: $font-middle;
      @include mq("sp") {
        font-size: $font-sp-middle;
      }
    }

    .interest-area {
      @extend .d-flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .plus-modal {
        position: relative;
        @extend .mb-1;
        padding: 5px 0;
        line-height: 150%;
        border: 1px solid $black;
        border-radius: 4px;
        width: calc(20% - 10px);
        min-width: 45px;
        text-align: center;
        margin-right: 10px;
      }

      .plus {
        display: block;
        font-size: $font-text;
        background: $button;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      dl {
        position: relative;
        @extend .mb-1;
        padding: 5px 0;
        line-height: 150%;
        border: 1px solid $black;
        border-radius: 4px;
        width: calc(20% - 10px);
        min-width: 45px;
        text-align: center;
        margin-right: 10px;

        &:nth-of-type(5n) {
          margin-right: 0;
        }

        dd {
          font-size: $font-small;
          @include mq("sp") {
            font-size: $font-sp-small;
          }
        }

        .minus {
          font-size: $font-text;
          background: $error;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          line-height: 18px;
          color: $white;
          position: absolute;
          top: -10px;
          right: -5px;
        }
      }

      .border-none {
        border: none;
      }
    }
  }

  #event {
    h3 {
      @extend .mb-1;
      font-family: "M PLUS 1p", sans-serif;
      font-weight: 400;
      font-size: $font-middle;
      @include mq("sp") {
        font-size: $font-sp-middle;
      }
    }

    .event-area {
      li {
        position: relative;
        border: 1px solid $black;
        border-radius: 4px;
        @extend .mb-2;

        .max {
          position: absolute;
          left: 57%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-family: "M PLUS 1p", sans-serif;
          font-size: $font-big;
          color: rgba(234, 57, 34, 0.53);
          letter-spacing: 20px;
          white-space: nowrap;
        }

        .limit {
          span {
            line-height: 20px;
          }

          letter-spacing: 5px;
          display: inline-grid;
          align-content: center;
          background: $error;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          color: $white;
          text-align: center;
          font-size: $font-small;
          font-weight: bold;
          position: absolute;
          right: -18px;
          top: -27px;
        }

        .little {
          span {
            line-height: 20px;
          }

          letter-spacing: 5px;
          align-content: center;
          display: inline-grid;
          background: $warning;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          color: $white;
          text-align: center;
          font-weight: bold;
          font-size: $font-small;
          position: absolute;
          right: -18px;
          top: -27px;
        }

        .day {
          display: inline-block;
          background: $button;
          color: $white;
          border-right: 1px solid $light-black;
          border-bottom: 1px solid $light-black;
          font-size: $font-small;
          position: relative;
          top: -1px;
          letter-spacing: 3px;
          padding: 0 10px;
        }

        .limit-text {
          color: $error;
        }

        .little-text {
          color: $warning;
        }

        dl {
          @extend .ml-1, .mt-1, .mb-1;
          font-size: $font-small;
        }
      }
    }
  }
}

