//環境別文字サイズ
$font-big: 42px;
$font-title : 32px;
$font-middle: 24px;
$font-small: 18px;

//色
$default-button-color: #242424;
$default-background-color: #242424;
$white: #fff;

//Breakpoints
$breakpoints: (
  sp: 'screen and (max-width: 480px)',
  tb: 'screen and (max-width: 960px)',
  pc: 'screen and (min-width: 961px)'
);

//mixin

@mixin mq($bp) {
  @media #{map-get($breakpoints,$bp)} {
    @content
  }
}

@mixin sectionCommon() {
  @extend .mt-8;
  @extend .wrap;
  h2 {
    font-size: $font-title;
  }
  p {
    font-size: $font-middle;
  }
}

// 基本設定

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

//spのみ表示

@include mq("tb") {
  .dispPc {
    display: none;
  }
}

@include mq("pc") {
  .dispSp {
    display: none;
  }
}


//pcのみ表示




// 横幅設定
@for $i from 0 through 100 {
  .w-#{$i} { width: 0% + $i; }
  .w-px-#{$i} { width: 0px + $i; }
  .h-px-#{$i} { height: 0px + $i; }
  .mt-#{$i} { margin-top :0em + $i;}
  .mr-#{$i} { margin-right :0em + $i;}
  .mb-#{$i} { margin-bottom :0em + $i;}
  .ml-#{$i} { margin-left :0em + $i;}
  .my-#{$i} { margin-top :0em + $i; margin-bottom :0em + $i;}
  .pt-#{$i} { padding-top :0em + $i;}
  .pr-#{$i} { padding-right :0em + $i;}
  .pb-#{$i} { padding-bottom :0em + $i;}
  .pl-#{$i} { padding-left :0em + $i;}
  .px-#{$i} { padding-left :0em + $i; padding-right :0em + $i;}
  .py-#{$i} { padding-top :0em + $i; padding-bottom :0em + $i;}
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.wrap {
  width: 100%;
  max-width: 1180px;
  @extend .mx-auto;
}

.section-title-area {
  text-align: center;
  @extend .mb-3;
}

.d-flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.text-center {
  align-items: center;
}

.end {
  justify-content: flex-end;
}

// header設定
#header {
  position: fixed;
  top: 0;
  z-index: 99999999999;
  background: rgba(255,255,255,0.7);
  .sp-header {
    @extend .d-flex;
    @extend .end;
    @extend .text-center;
    width: calc(100% / 2.5);
    &:first-child {
      margin-right: auto;
      width: calc(100% / 1.5);
    }
  }
  .logo {
    @include mq("sp") {
      width: 50px;
    }
  }
  @extend .w-100;
  h1 {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999999;
    img {
      width: 78px;
      @include mq("sp") {
        width: 60px;
      }
      @extend .mx-auto
    }
    span {
      font-size: 16px;
      @include mq("sp") {
        font-size: 14px;
      }
      @extend .ml-1;
    }
  }
  .wrapper {
    width: 90%;
    max-width: 1580px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    display: flex;
    li {
      &:first-child {
        margin-right: auto;
      }
      &:not(:first-child){
        margin-right: 2em;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #1f1f1f;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          opacity: 0.7;
          transition: 0.2s;
        }
      }
    }
  }
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 10px;
    top: 26px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
    span {
      background: #cf1a1a;
    }
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #005b99;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    width: 36px !important;
    height: 30px !important;
    left: 8px !important;
    top: 18px !important;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: $default-button-color;
    height: 32px !important;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    @extend .w-80;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: white;
    @extend .pt-2;
    @extend .pl-2;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    @extend .mt-2;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    text-decoration: none;
    outline: none;
  }

  /* Styling of overlay */
  .bm-overlay {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }

}

#slider-wrap {
  margin-top: 91px;
  .slider-height {
    height: calc(100vh - 150px - 1em);
    max-height: 800px;
  }
  @extend .w-95;
  @extend .my-0;
  @extend .mx-auto;
  position: relative;
  img {
    width: 90%;
    @extend .mx-auto;
    display: block;
    height: calc(100vh - 150px - 2em);
    max-height: 800px;
  }
  .mask {
    width: 90%;
    position: absolute;
    background: #1f1f1f;
    height: calc(100vh - 150px - 2em);
    opacity: 0.2;
    top: 0;
    left: 5%;
    z-index: 999;
    max-height: 800px;
  }
  .title-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    z-index: 9999;
    h2 {
      font-size: $font-big;
      font-family: 'Dancing Script', cursive;
    }
    h3 {
      letter-spacing: 10px;
    }
  }
}

#pre-section {
  @extend .d-flex;
  @extend .mx-auto;
  width: 100px;
  align-items: start;
  p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 4px;
    font-size: $font-small;
    span {
      font-size: $font-title;
    }
  }
  .center-line {
    width: 1px;
    height: 20vh;
    background: $default-button-color;
  }
}


#section1 {
  @include sectionCommon();
  .about-area {
    @extend .d-flex;
    @extend .between;
    @include mq("sp") {
      flex-direction: column;
    }
    dl {
      width: calc(100% / 3 - 30px);
      @include mq("sp") {
       width: 100%;
      }
      dd {
        &:nth-of-type(1) {
          font-size: $font-middle;
          font-weight: bold;
          white-space: nowrap;
          @include mq("sp") {
            white-space: normal;
          }
        }
        &:nth-of-type(2) {
          line-height: 200%;
        }
      }
    }
  }
}

#result-area {
  background: #c7ebfa;
  width: 100%;
  @extend .mt-10;
  @extend .py-5;
  #result-message {
    text-align: center;
    @extend .wrap;
    img {
      display: block;
      @extend .mx-auto;
      @extend .w-50;
    }
    h3 {
      font-size: $font-title;
    }
    p {
      font-size: $font-middle;
    }
  }
}

#section2 {
  @include sectionCommon();
  .event-area {
    @extend .d-flex;
    @extend .between;
    flex-wrap: wrap;
    li {
      width: calc(100% / 4 - 30px);
      @include mq("sp") {
        width: calc(100% / 2 - 30px);
        &:nth-child(n+3) {
          margin-top: 3em;
        }
      }
      @include mq("pc") {
        &:nth-child(n+5) {
          margin-top: 3em;
        }
      }

    }
  }

  button {
    @extend .mx-auto;
    @extend .mt-3;
    @extend .px-2;
    @extend .py-1;
    display: block;
    background: $default-button-color;
    border: 1px solid $default-button-color;
    border-radius: 2px;
    color: $white;
  }
}

#section3 {
  @include sectionCommon();
  .service-area {
    @extend .d-flex;
    @extend .between;
    @include mq("sp") {
      flex-direction: column;
    }
  }
  dl {
    width: calc(100% / 3 - 30px);
    @include mq("sp") {
      width: 100%;
      flex-direction: column;
    }
    dd {
      &:nth-of-type(1) {
        font-size: $font-middle;
        font-weight: bold;
        white-space: nowrap;
      }
      &:nth-of-type(2) {
        line-height: 200%;
      }
    }
  }
}

#section4 {
  @extend .mt-8;
  @extend .pb-10;
  @extend .pt-3;
  color: $white;
  h2 {
    font-size: $font-title;
  }
  p {
    font-size: $font-middle;
  }
  background: $default-button-color;
  width: 100%;
  iframe {
    width: 100%;
    height: 450px;
  }
  .wrapper {
    width: 90%;
    max-width: 1580px;
    @extend .mx-auto;
  }
}

#section5 {
  @include sectionCommon();
  dl {
    width: calc(100% / 3 - 30px);
  }
  ul {
    li {
      border-bottom: 1px solid #242424;
      @extend .mb-3;
      @extend .pb-1;
      @extend .d-flex;
      span {
        @extend .ml-2;
        @extend .mr-2;
      }
    }
  }
}

footer {
  @extend .py-5;
  background:$default-button-color;
  color: $white;
  a {
    color: $white;
  }
  align-items: start;
  .footer-list {
    @extend .d-flex;
    text-align: center;
    @include mq("sp") {
      flex-direction: column;
      text-align: left;
    }
    ul {
      @extend .w-50;
      @include mq("sp") {
        width: 100%;
        &:nth-of-type(2) {
          margin-top: 3em;
        }
      }
      display: inline-block;
      li {
        @extend .mb-1;
        margin-left: 35%;
        text-align: left;
        @include mq("sp") {
          margin-left: 2em;
        }
      }
    }
  }
  .copyright {
    @extend .d-flex;
    align-items: center;
    width: 220px;
    @extend .mx-auto;
    @extend .mt-3;
    p {
      img {
        @extend .ml-1;
        width: 20px;
        fill: $white;
      }
    }
  }
}